<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="{{ url_for('static', filename='style_news.css') }}">

   <title>Sahayak-News</title>
   <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <canvas class="background"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <section id="content">
		<!-- NAVBAR -->
		<nav>
         <img src="static/logo3.png" alt="Logo" width="53">
			<button class="nav-button" onclick="dashboardpage()">
				<span class="nav-icon"><i class="material-icons">dashboard</i></span> Dashboard
			</button>
			<button class="nav-button" onclick="eventspage()">
				<span class="nav-icon"><i class="material-icons">event</i></span> Events
			</button>
			<button class="nav-button" onclick="newspage()">
				<span class="nav-icon"><i class="material-icons">article</i></span> News
			</button>
			<button class="nav-button" onclick="pdfpage()">
				<span class="material-icons nav-icon">description</span> Summary
			</button>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num"></span>
			</a>
			<i class="icon material-icons">settings</i>
		</nav>
		<!-- NAVBAR -->

   <div class="container">
      <div class="card__container" id="card_container">
         <article class="card__article">
            <img src="{{ url_for('static', filename='landscape-1.png') }}" alt="image" class="card__img">
            <div class="card__data">
               <h2 class="card__title">Headline</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
      </div>
      <div class="controls">
         <button class="control-btn" id="prevBtn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
         </button>
         <button class="control-btn" id="nextBtn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
         </button>
      </div>
   </div>

   <script src="{{ url_for('static', filename='script_ns.js') }}"></script>
   <script>
      function newspage(){
          window.location.href='{{url_for("news")}}'
      }
      function dashboardpage(){
          window.location.href='{{url_for("dashboard")}}'
      }
      function pdfpage(){
          window.location.href='{{url_for("summary")}}'
      }
      function eventspage(){
          window.location.href='{{url_for("events")}}'
      }

   </script>
</body>
</html>
